<!doctype html>
<html lang="pt-br">
<th:replace th:replace="~{fragments/head}"></th:replace>

</style>
<body class="sidebar-mini sidebar-collapse">
<div class="wrapper">

    <main class="content-wrapper  p-4">
        <div class="card animation">
            <div class="card-header d-flex justify-content-between">
                <h1 class="h1 d-block">Login</h1>
               </div>
            <div th:if="${error}">
                Invalid username and password.
            </div>
            <div th:if="${logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><button type="submit" class="btn btn-primary"/></div>
            </form>
            </div>
        </div>


        <div id="model">

        </div>
    </main>
    <th:replace th:replace="~{fragments/footer}"></th:replace>

</div>
<!-- BootStrap 5.2 js -->
<script src="/assets/vendor/bootstrap5-2/bootstrap.min.js"></script>
<!-- Sweetalert 2 -->
<script src="/assets/vendor/sweetalert2/sweetalert2.all.js"></script>

<!-- triggers to alerts -->
<script>
    let success = "[[${success}]]";
    let error = "[[${error}]]";
</script>
<!-- triggers to DataTable, alerts e  -->
<script src="/assets/js/globalJs.js"></script>

<script src="https://kit.fontawesome.com/8e39ba9689.js" crossorigin="anonymous"></script>


</body>
</html>