
<form th:action="@{/subjects/save}" th:object="${subject}" th:method="${subject.id == null} ? 'POST' : 'PATCH'">
    <div class="mb-3 d-none" >
        <label for="id" class="form-label" >id</label>
        <input type="text" class="form-control"  th:field="*{id}" readonly >
    </div>
    <div class="mb-3 " >
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control"  th:field="*{name}" required>
    </div>
    <button type="submit" class="btn btn-primary" th:text="${subject.id == null} ? 'Cadastrar' : 'Atualizar'">Cadastrar</button>
    <button type="button" onclick="swal.close()" class="btn btn-secondary">Cancelar</button>

</form>

