<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SunioWeb - Blog</title>
    <link rel="icon" type="image/x-icon" href="/assets/imagens/logo_blog.png">
    <link href="/assets/css/style.css" rel="stylesheet" >
    <link href="/assets/vendor/datatable/datatable.css" rel="stylesheet" >
    <link href="/assets/vendor/bootstrap5-2/bootstrap.min.css" rel="stylesheet" >

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/vendor/adminLte/adminlte.min.css">


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>