<!doctype html>
<html lang="pt-br">
<th:replace th:replace="~{fragments/head}"></th:replace>

<body class="sidebar-mini sidebar-collapse">
    <div class="wrapper">


        <th:replace th:replace="~{fragments/sidebar}"></th:replace>
        <main class="content-wrapper">
            <h1>Olá</h1>

            <table class="table" id="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>

                </tbody>
            </table>
        </main>
        <th:replace th:replace="~{fragments/footer}"></th:replace>

    </div>

    <th:replace th:replace="~{fragments/scripts}"></th:replace>
    <script>

    </script>

</body>
</html>